<div class="row">
  <div class="col-md-12">
    <%= search_form_for @q, class: "form-inline margin-top" do |f| %>
      <%= f.search_field :number_cont, class:"form-control", placeholder:"工号" %>
      <%= f.search_field :name_cont, class:"form-control", placeholder:"姓名" %>
      <%= f.submit "搜索", class:"btn btn-primary" %>
    <% end %>

    <div class="btn-group float-right">
      <%= link_to '新增', new_staff_path, class: "btn btn-primary float-right" %>
      <%= link_to '导出', staffs_path(format: :csv), class: "btn btn-default" %>
    </div>
  </div>
</div>
<table class="table table-hover margin-top">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id,'ID', hide_indicator: true) %></th>
      <th><%= sort_link(@q, :number,'工号', hide_indicator: true) %></th>
      <th><%= sort_link(@q, :name,'姓名', hide_indicator: true) %></th>
      <th><%= sort_link(@q, :department,'部门', hide_indicator: true) %></th>
      <th><%= sort_link(@q, :position,'职务', hide_indicator: true) %></th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.id %></td>
        <td><%= staff.number %></td>
        <td><%= staff.name %></td>
        <td><%= staff.department %></td>
        <td><%= staff.position %></td>
        <td>
          <%= link_to '编辑', edit_staff_path(staff), class: "btn btn-default btn-sm" %>
          <%= link_to '删除', staff, method: :delete, data: { confirm: '确定删除?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @staffs %>




