<%= form_with(model: computer) do |form| %>
  <% if computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
        <% computer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :code, "编号" %>
    <%= form.text_field :code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :brand, "品牌" %>
    <%= form.text_field :brand, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :version, "版本" %>
    <%= form.text_field :version, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :place, "位置" %>
    <%= form.text_field :place, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :state, "状态" %>
    <%= form.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :date, "日期" %>
    <%= form.text_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :configure, "配置" %>
    <%= form.text_field :configure, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :remarks, "备注" %>
    <%= form.text_area :remarks, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :staff_id, "职工ID" %>
    <%= form.text_field :staff_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit value="提交", class: "btn btn-default"%>
  </div>
<% end %>
